*.xlsx
.vercel

# Vercel prebuilt
werkzeug
Werkzeug-1.0.1.dist-info
altair
altair_data_server
altair_data_server-0.4.1.dist-info
altair_viewer
altair_viewer-0.4.0.dist-info
altair-5.0.0.dist-info
asgiref
asgiref-3.6.0.dist-info
attr
attrs
attrs-23.1.0.dist-info
bin
dateutil
Django
Django-4.2.1.dist-info
et_xmlfile
et_xmlfile-1.1.0.dist-info
jinja2
Jinja2-3.1.2.dist-info
jsonschema
jsonschema-4.17.3.dist-info
markupsafe
MarkupSafe-2.1.2.dist-info
numpy
numpy-1.24.3.dist-info
openpyxl
openpyxl-3.1.2.dist-info
pandas
pandas-2.0.1.dist-info
portpicker-1.5.2.dist-info
psutil
psutil-5.9.5.dist-info
pyrsistent
pyrsistent-0.19.3.dist-info
python_dateutil-2.8.2.dist-info
pytz
pytz-2023.3.dist-info
six-1.16.0.dist-info
sqlparse
sqlparse-0.4.4.dist-info
tlz
toolz
toolz-0.12.0.dist-info
tornado
tornado-6.3.1.dist-info
typing_extensions-4.5.0.dist-info
tzdata
tzdata-2023.3.dist-info